*.class
*.DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/
bin/
# Package Files #
*.war
*.ear
*.pdf
NPOTKey
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.i
*.o
*.s
.project
.classpath
*.out
